footer {
    font-family: $montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    text-align: center;
    color: #B9BDCF;
    padding: 40px;
}